$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

a {
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

a[ng-click], a[clip-click] {
  cursor: pointer;
}

.alert {
  &.ng-hide-remove {
    -webkit-animation: fadeInDown 0.25s;
    animation: fadeInDown 0.25s;
  }

  &.ng-hide-add {
    -webkit-animation: fadeOutUp 0.25s;
    animation: fadeOutUp 0.25s;
    display: block !important;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-google {
  background-color: #e51c23;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #dd191d;
  }
}

.btn-google-music {
  background-color: #FF863B;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: darken(#FF863B, 5%);
  }
}

.btn-lastfm {
  background-color: #c91e24;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #db3d43;
  }
}

.btn-rdio {
  background-color: #008FD5;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: darken(#008FD5, 5%);
  }
}

.footer {
  margin-top: $line-height-computed;
  padding-top: $line-height-computed;
  color: #777;
  border-top: 1px solid $hr-border;
  font-size: $font-size-small;

  a {
    &, &:active, &:visited {
      color: $gray;
      text-decoration: underline;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

form {
  &.form-inline {
    .form-group {
      & + .form-group {
        margin-left: 20px;
      }
    }
  }
}

h1 {
  a {
    &, &:link, &:visited, &:active, &:hover, &:focus {
      text-decoration: none;
    }
  }

  .back-link {
    display: inline-block;
    vertical-align: middle;
  }

  .lastfm-user-link {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .lastfm-user-since, .playlist-description {
    display: block;
    font-size: $font-size-base;
    color: $gray-light;
    font-weight: normal;
    margin-top: ($line-height-computed / 2);
  }

  .title {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }
}

.nowrap {
  white-space: nowrap;
}

.rdio-playlist {
  .rdio-playlist-link {
    img {
      display: block;
      margin-right: 10px;
      border-radius: 10px;
      float: left;
      max-width: 29%;
    }

    .playlist-name {
      display: block;
    }

    .track-count {
      font-size: $font-size-small;
      color: $gray-light;
      font-style: italic;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.sidebar {
  .sidebar-header {
    margin-top: 0;
    font-size: $font-size-small;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.site-header {
  .site-title {
    color: $gray;
  }
}

.track-row {
  &.animate.ng-enter {
    -webkit-animation: fadeIn 0.25s;
    animation: fadeIn 0.25s;
  }

  &.animate.ng-leave {
    -webkit-animation: fadeOut 0.25s;
    animation: fadeOut 0.25s;
  }

  &.missing {
    td.track-status {
      background-color: #f2dede;
      color: #b94a48 !important;
    }
  }

  &.matching {
    td.track-status {
      background-color: #d9edf7;
      color: #3a87ad !important;
    }
  }

  &.matched {
    td.track-status {
      background-color: #0091d4;
      color: white !important;
    }
  }

  .track-image-column {
    width: 73px;

    img {
      width: 73px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 10px;
    }
  }

  .track-name-column {
    width: 30%;
  }

  .track-artist-column {
    width: 25%;
  }

  .track-play-count-column {
    width: 14%;
    text-align: center;
  }
}

#track_filters_min_play_count {
  width: 6em;
}

.year-row {
  text-align: center;

  a {
    font-weight: $headings-font-weight;
    display: inline-block;

    & + a {
      margin-left: 10px;
    }
  }

  .season-icon {
    display: block;
    height: 24px;
    position: relative;
    margin: 5px auto;
  }

  .spring-link {
    color: #f291c0;
  }

  .summer-link {
    color: #97d86b;
  }

  .fall-link {
    color: #f79c6f;
  }

  .winter-link {
    color: #6fcaf7;
  }
}
