$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a, .btn {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

a[ng-click], a[clip-click] {
  cursor: pointer;
}

.alert {
  &.ng-hide-remove {
    -webkit-animation: fadeInDown 0.25s;
    animation: fadeInDown 0.25s;
  }

  &.ng-hide-add {
    -webkit-animation: fadeOutUp 0.25s;
    animation: fadeOutUp 0.25s;
    display: block !important;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-default {
  &:hover, &:focus {
    background-color: lighten($btn-default-bg, 10%);
  }
}

$google-red: #dd191d;
$google-light-red: #e51c23;
.btn-google {
  background-color: $google-red;
  border-color: darken($google-red, 5%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: $google-light-red;
    border-color: darken($google-light-red, 5%);
  }
}

$google-music-orange: #FF863B;
.btn-google-music {
  background-color: darken($google-music-orange, 10%);
  border-color: darken($google-music-orange, 15%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: $google-music-orange;
    border-color: darken($google-music-orange, 5%);
  }
}

$lastfm-red: #c91e24;
.btn-lastfm {
  background-color: $lastfm-red;
  border-color: darken($lastfm-red, 5%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: darken($lastfm-red, 10%);
    border-color: darken($lastfm-red, 15%);
  }
}

$rdio-blue: #008FD5;
.btn-rdio {
  background-color: darken($rdio-blue, 10%);
  border-color: darken($rdio-blue, 15%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: $rdio-blue;
    border-color: darken($rdio-blue, 5%);
  }
}

$spotify-green: #648F00;
$spotify-light-green: #84BD00;
.btn-spotify {
  background-color: $spotify-green;
  border-color: darken($spotify-green, 5%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: $spotify-light-green;
    border-color: darken($spotify-light-green, 5%);
  }
}

.footer {
  margin-top: $line-height-computed;
  padding-top: $line-height-computed;
  color: #777;
  border-top: 1px solid $hr-border;
  font-size: $font-size-small;

  a {
    &, &:link, &:active, &:visited {
      color: $gray;
      text-decoration: none;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: $link-hover-color;
    }
  }
}

form {
  &.form-inline {
    .form-group {
      & + .form-group {
        margin-left: 20px;
      }
    }
  }
}

h1 {
  a {
    &, &:link, &:visited, &:active, &:hover, &:focus {
      text-decoration: none;
    }
  }

  .back-link {
    display: inline-block;
    vertical-align: middle;
  }

  .lastfm-user-link {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .lastfm-user-since, .playlist-description, .page-info {
    display: block;
    font-size: $font-size-base;
    color: $gray-light;
    font-weight: normal;
    margin-top: ($line-height-computed / 2);
  }

  .page-info {
    a {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .title {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }
}

.neighbors, .track-filter-form {
  margin-top: $line-height-computed;
}

.notifications {
  .alert {
    position: fixed;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    top: 20px;
    z-index: 1000;
  }
}

.nowrap {
  white-space: nowrap;
}

.page-header {
  h1 {
    color: $gray-light;
  }
}

.rdio-playlist {
  .rdio-playlist-link {
    img {
      display: block;
      margin-right: 10px;
      border-radius: 10px;
      float: left;
      max-width: 29%;
    }

    .playlist-name {
      display: block;
    }

    .track-count {
      font-size: $font-size-small;
      color: $gray-light;
      font-style: italic;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.sidebar {
  .sidebar-header {
    margin-top: 0;
    font-size: ($font-size-base * 0.875);
    font-weight: $headings-font-weight;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.site-header {
  .site-title {
    color: $gray-light;

    a {
      &, &:link, &:active, &:visited, &:hover, &:focus {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.spotify-playlist {
  .spotify-playlist-link {
    .playlist-name {
      display: block;
    }

    .private-flag, .public-flag {
      font-size: $font-size-small;
      color: $gray-light;
      display: block;
      margin-top: 5px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

th {
  font-weight: normal;
  color: #666;
}

.track-play-count-column {
  width: 14%;
  text-align: center;
}

.track-row {
  &.animate.ng-enter {
    -webkit-animation: fadeIn 0.25s;
    animation: fadeIn 0.25s;
  }

  &.animate.ng-leave {
    -webkit-animation: fadeOut 0.25s;
    animation: fadeOut 0.25s;
  }

  &.missing {
    td.track-status {
      background-color: #f2dede;
      color: #b94a48 !important;
    }
  }

  &.matching {
    td.track-status {
      &.rdio {
        background-color: #d9edf7;
        color: #3a87ad !important;
      }

      &.spotify {
        background-color: #F1F9DD;
        color: #67851C !important;
      }
    }
  }

  &.matched {
    td.track-status {
      &.rdio {
        background-color: #0091d4;
        color: white !important;
      }

      &.spotify {
        background-color: #648F00;
        color: white !important;
      }
    }
  }

  .track-image-column {
    width: 73px;

    img {
      width: 73px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 10px;
    }
  }

  .track-name-column {
    width: 30%;
  }

  .track-artist-column {
    width: 25%;
  }

  .track-status {
    text-align: center;
  }
}

#track_filters_min_play_count {
  width: 6em;
}

.year-container {
  text-align: center;
  display: inline-block;
  margin: 1em 2.5em;

  a {
    font-weight: $headings-font-weight;
    display: block;
  }

  .season-circle {
    position: relative;
    width: 12em;
    height: 12em;
    margin: 0 auto;
    font-size: $font-size-small;

    .cutout {
      width: 3.2em;
      height: 3.2em;
      line-height: 3.2em;
      background-color: $gray-dark;
      color: $gray-lighter;
      text-align: center;
      position: absolute;
      top: 4.4em;
      left: 4.4em;
      border-radius: 50%;
      pointer-events: none;
      text-shadow: 0 1px 1px black;
      -webkit-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    }

    .quarter {
      position: absolute;
      width: 50%;
      height: 50%;
      border-style: solid;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

      &:hover, &:focus {
        text-decoration: none;
      }

      &.quarter-spring, &.quarter-summer {
        padding-top: 19px;
      }

      $quarter-border-width: 5px;
      $spring-color: #f291c0;
      $summer-color: #97d86b;
      $fall-color: #f79c6f;
      $winter-color: #6fcaf7;

      &.quarter-spring {
        border-color: $spring-color;
        border-width: $quarter-border-width 0 0 $quarter-border-width;
        border-radius: 100% 0 0 0;
        color: $spring-color;
        left: 0;
        top: 0;
        padding-left: 10px;

        &:hover, &:focus {
          background-color: lighten($body-bg, 20%);
          border-color: darken($spring-color, 10%);
          color: lighten($spring-color, 10%);
        }
      }

      &.quarter-summer {
        border-color: $summer-color;
        border-width: $quarter-border-width $quarter-border-width 0 0;
        border-radius: 0 100% 0 0;
        color: $summer-color;
        right: 0;
        top: 0;
        padding-right: 7px;

        &:hover, &:focus {
          background-color: lighten($body-bg, 20%);
          border-color: darken($summer-color, 10%);
          color: lighten($summer-color, 10%);
        }
      }

      &.quarter-fall, &.quarter-winter {
        padding-top: 14px;
      }

      &.quarter-fall {
        border-color: $fall-color;
        border-width: 0 0 $quarter-border-width $quarter-border-width;
        border-radius: 0 0 0 100%;
        color: $fall-color;
        left: 0;
        bottom: 0;
        padding-left: 7px;

        &:hover, &:focus {
          background-color: lighten($body-bg, 20%);
          border-color: darken($fall-color, 10%);
          color: lighten($fall-color, 10%);
        }
      }

      &.quarter-winter {
        border-color: $winter-color;
        border-width: 0 $quarter-border-width $quarter-border-width 0;
        border-radius: 0 0 100% 0;
        color: $winter-color;
        right: 0;
        bottom: 0;
        padding-right: 7px;

        &:hover, &:focus {
          background-color: lighten($body-bg, 20%);
          border-color: darken($winter-color, 10%);
          color: lighten($winter-color, 10%);
        }
      }
    }
  }

  .season-icon {
    display: block;
    height: 24px;
    position: relative;
    margin: 5px auto;
  }
}
