$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  a {
    &, &:link, &:visited, &:active, &:hover, &:focus {
      text-decoration: none;
    }
  }

  .back-link {
    display: inline-block;
    vertical-align: middle;
  }

  .lastfm-user-link {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .title {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }
}

.site-header {
  .site-title {
    color: $gray;
  }
}

.track {
  width: 23%;
  margin: 0 1.8% 10px 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;

  &:hover, &:focus {
    text-decoration: none;
    background-color: #e5e3e9;
  }

  &.missing {
    background-color: #f2dede;
    color: #b94a48 !important;

    &:hover, &:focus {
      background-color: #e8baba;
    }

    .track-artist-divider, .play-count {
      color: #cf6d6b;
    }
  }

  &.matching {
    background-color: #d9edf7;
    color: #3a87ad !important;

    &:hover, &:focus {
      background-color: #a5d2e8;
    }

    .track-artist-divider, .play-count {
      color: #62aacc;
    }
  }

  &.matched {
    background-color: #0091d4;
    color: white !important;

    &:hover, &:focus {
      background-color: #007fb5;
    }

    .track-artist-divider, .play-count {
      color: #efefef;
    }
  }

  img {
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
  }

  .play-count {
    font-size: 12px;
    color: #999;
    font-style: italic;

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }

  .track-artist-divider {
    font-style: italic;
    color: #999;
  }

  .artist-name, .track-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artist-name {
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
  }

  .track-name {
    max-width: 100%;
    display: block;
  }
}
