!!! 5
%html.no-js{lang: 'en', ng: {app: 'SeasonalApp'}}
  %head
    %meta{charset: 'utf-8'}
    %title Seasonal Playlister
    %meta{name: 'author', content: 'Sarah Vessels'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'stylesheet', href: 'main.css'}
    /[if (lt IE 9) & (!IEMobile)]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
  %body{ng: {controller: 'PageController'}}
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} Seasonal Playlister
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
    .container
      .notifications{ng: {controller: 'NotificationsController'}}
        %p.alert.alert-danger.clearfix.ng-cloak{ng: {repeat: 'error in errors'}}
          %a.pull-right.alert-link{ng: {click: "remove('error', error.id)"}}
            %span.glyphicon.glyphicon-remove
          {{error.message}}
        %p.alert.alert-success.clearfix.ng-cloak{ng: {repeat: 'notice in notices'}}
          %a.pull-right.alert-link{ng: {click: "remove('notice', notice.id)"}}
            %span.glyphicon.glyphicon-remove
          {{notice.message}}
      %div{ng: {view: ''}}
    %footer
      .container
        %p
          Built by
          %a{href: 'http://www.sarah-vessels.com/'}
            Sarah Vessels
          using AngularJS and Sinatra.
        %p
          %a{href: 'https://github.com/moneypenny/seasonal-playlister'}
            Source code on Github
    %script{src: 'jquery-2.1.1.min.js'}
    %script{src: 'bootstrap.min.js'}
    %script{src: 'angular.min.js'}
    %script{src: 'angular-route.min.js'}
    %script{src: 'angular-cookies.min.js'}
    %script{src: 'angular-animate.min.js'}
    %script{src: 'ui-bootstrap-tpls-0.11.0.min.js'}
    %script{src: 'app.js'}
