<div class="page-header">
  <h1>
    <a class="back-link" ng-href="#/lastfm/{{lastfm_user.user_name}}/{{year_chart.year}}/{{season.name}}" ng-click="wipe_notifications()" tooltip-placement="right" tooltip="Filter tracks differently">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="lastfm-user-link" ng-if="lastfm_user.id" href="{{lastfm_user.url}}" tooltip="{{lastfm_user.user_name}}">
      <img class="lastfm-user-image img-circle" height="64" ng-src="{{lastfm_user.medium_image}}" width="64">
    </a>
    <span class="title">
      Create a Google Music Playlist
      <span class="playlist-description">
        {{season.label}} {{year_chart.year}} -
        {{year_chart.filtered_tracks.length}}
        <span ng-show="year_chart.filtered_tracks.length === 1">
          track
        </span>
        <span ng-hide="year_chart.filtered_tracks.length === 1">
          tracks
        </span>
      </span>
    </span>
  </h1>
</div>
<div ng-hide="year_chart.tracks_loaded">
  <p>
    <i class="fa fa-spinner fa-spin"></i>
    Loading tracks...
  </p>
</div>
<form ng-submit="google_authenticate()" ng-if="year_chart.tracks_loaded &amp;&amp; !auth_status.have_token">
  <button type="submit" class="btn btn-google">
    <i class="fa fa-google"></i>
    Sign In With Google
  </button>
</form>
