<div class="page-header">
  <h1>
    Choose a Last.fm User
  </h1>
</div>
<div class="jumbotron text-center">
  <p>
    Look up a
    <a href="http://www.last.fm/">Last.fm</a>
    user's public listening history:
  </p>
  <form class="form-inline lastfm-user-lookup-form" ng-submit="go_to_seasons_list()">
    <div class="form-group">
      <label class="sr-only" for="lastfm_user_user_name">
        Last.fm user name:
      </label>
      <input class="form-control input-lg" id="lastfm_user_user_name" ng-model="lastfm_user.user_name" placeholder="Last.fm user name" type="text">
    </div>
    <button class="btn btn-lastfm btn-lg" type="submit">
      <i class="fi-social-lastfm"></i>
      Get Scrobbles
    </button>
  </form>
  <p>
    Or authenticate with Last.fm to access your private scrobbles:
  </p>
  <p>
    <button class="btn btn-lastfm btn-lg" ng-click="init_lastfm_auth()" type="button">
      <i class="fi-social-lastfm"></i>
      Sign in to Last.fm
    </button>
  </p>
</div>
