<div class="page-header clearfix">
  <h1>
    <a class="back-link" ng-href="#/lastfm/{{lastfm_user.user_name}}" ng-click="wipe_notifications()" tooltip-placement="right" tooltip="Choose a different season">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="lastfm-user-link" ng-if="lastfm_user.id" href="{{lastfm_user.url}}" tooltip="{{lastfm_user.user_name}}">
      <img class="lastfm-user-image img-circle" height="64" ng-src="{{lastfm_user.medium_image}}" width="64">
    </a>
    <span class="title">{{season.label}} {{year_chart.year}}</span>
  </h1>
  <form class="track-filter-form form-inline" ng-if="year_chart.tracks.length &gt; 0">
    <div class="form-group">
      Showing {{year_chart.filtered_tracks.length}} of {{year_chart.tracks.length}}
      <span ng-show="year_chart.tracks.length === 1">
        track
      </span>
      <span ng-show="year_chart.tracks.length !== 1">
        tracks
      </span>
    </div>
    <div class="form-group">
      <label class="control-label" for="track_filters_min_play_count">
        Minimum play count:
      </label>
      <input class="form-control" id="track_filters_min_play_count" ng-change="update_playlist_name()" ng-model="track_filters.min_play_count" type="number">
    </div>
    <div class="form-group">
      <label class="control-label" for="track_filters_artist">
        Artist:
      </label>
      <select class="form-control" id="track_filters_artist" ng-model="track_filters.artist" ng-options="artist for artist in year_chart.artists()"></select>
    </div>
  </form>
</div>
<div ng-hide="year_chart.tracks_loaded">
  <p>
    <i class="fa fa-spinner fa-spin"></i>
    Loading listening history from Last.fm...
  </p>
</div>
<div ng-if="year_chart.tracks_loaded &amp;&amp; year_chart.tracks.length &lt; 1">
  <p>
    There is no listening history for Last.fm user {{lastfm_user.user_name}} in {{season.name}} {{year_chart.year}}.
  </p>
  <p>
    <a ng-href="#/lastfm/{{lastfm_user.user_name}}" ng-click="wipe_notifications()">
      &larr; Choose a different season
    </a>
  </p>
</div>
<div class="row">
  <div class="col-sm-8 col-md-9">
    <div ng-if="year_chart.tracks_loaded &amp;&amp; year_chart.filtered_tracks.length &lt; 1 &amp;&amp; year_chart.tracks.length &gt; 0">
      <p>No tracks match your filters.</p>
    </div>
    <div class="lastfm-tracks" ng-if="year_chart.filtered_tracks.length &gt; 0">
      <table class="table table-striped tracks-table">
        <thead>
          <tr>
            <th class="track-image-column"></th>
            <th class="track-name-column">Track</th>
            <th class="track-artist-column">Artist</th>
            <th class="nowrap track-play-count-column">Play Count</th>
          </tr>
        </thead>
        <tbody>
          <tr class="track-row" ng-id="{{track.id}}" ng-class="{matching: track.matching, matched: track.matched, missing: track.missing}" ng-repeat="track in year_chart.filtered_tracks">
            <td class="track-image-column">
              <a class="track" ng-show="track.url" ng-href="{{track.url}}" target="_blank">
                <img ng-src="{{track.large_image}}" class="track-image">
              </a>
              <img ng-hide="track.url" ng-src="{{track.large_image}}" class="track-image">
            </td>
            <td class="track-name-column">
              <a class="track" ng-show="track.url" ng-href="{{track.url}}" target="_blank">
                {{track.name}}
              </a>
              <span ng-hide="track.url">
                {{track.name}}
              </span>
            </td>
            <td class="track-artist-column">
              <a class="artist-link" ng-show="track.artist_url" ng-href="{{track.artist_url}}" target="_blank">
                {{track.artist}}
              </a>
              <span ng-hide="track.artist_url">
                {{track.artist}}
              </span>
            </td>
            <td class="track-play-count-column">
              {{track.play_count}}x
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 sidebar" ng-show="year_chart.filtered_tracks.length &gt; 0">
    <h3 class="sidebar-header">Google Music</h3>
    <ul class="list-unstyled google-music-list">
      <li>
        <div ng-if="!auth_status.have_token">
          <form ng-submit="google_authenticate()">
            <button type="submit" class="btn btn-google">
              <i class="fa fa-google"></i>
              Sign In With Google
            </button>
          </form>
        </div>
        <div ng-if="auth_status.have_token &amp;&amp; auth_status.is_verified">
          <form ng-submit="create_playlist()">
            <div class="form-group">
              <label class="control-label" for="playlist_name">Playlist name:</label>
              <input type="text" class="form-control" id="playlist_name" ng-model="playlist.name">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-google-music">
                <i class="fa fa-headphones"></i>
                Create Playlist
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <h3 class="sidebar-header">Options</h3>
    <ul class="list-unstyled options-list">
      <li>
        <form ng-submit="download_csv()">
          <div class="form-group">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-download"></i>
              Download as CSV
            </button>
          </div>
        </form>
      </li>
      <li>
        <form ng-submit="download_json()">
          <div class="form-group">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-download"></i>
              Download as JSON
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>
