<div class="page-header clearfix">
  <h1>
    <a class="back-link" ng-href="#/lastfm/{{lastfm_user.user_name}}" ng-click="wipe_notifications()" tooltip-placement="right" tooltip="Choose a different season">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="lastfm-user-link" ng-if="lastfm_user.id" href="{{lastfm_user.url}}" tooltip="{{lastfm_user.user_name}}">
      <img class="lastfm-user-image img-circle" height="64" ng-src="{{lastfm_user.medium_image}}" width="64">
    </a>
    <span class="title">{{season.label}} {{year_chart.year}}</span>
  </h1>
  <form class="track-filter-form form-inline" ng-if="year_chart.tracks.length &gt; 0">
    <div class="form-group">
      Showing {{year_chart.filtered_tracks.length}} of {{year_chart.tracks.length}}
      <span ng-show="year_chart.tracks.length === 1">
        track
      </span>
      <span ng-show="year_chart.tracks.length !== 1">
        tracks
      </span>
    </div>
    <div class="form-group">
      <label class="control-label" for="track_filters_min_play_count">
        Minimum play count:
      </label>
      <input class="form-control" id="track_filters_min_play_count" ng-change="update_playlist_name()" ng-model="track_filters.min_play_count" type="number">
    </div>
  </form>
</div>
<div ng-hide="year_chart.tracks_loaded">
  <p>
    Loading listening history from Last.fm...
  </p>
</div>
<div ng-if="year_chart.tracks_loaded &amp;&amp; year_chart.tracks.length &lt; 1">
  <p>
    There is no listening history for Last.fm user {{lastfm_user.user_name}} in {{season.name}} {{year_chart.year}}.
  </p>
  <p>
    <a ng-href="#/lastfm/{{lastfm_user.user_name}}" ng-click="wipe_notifications()">
      &larr; Choose a different season
    </a>
  </p>
</div>
<div class="lastfm-tracks" ng-if="year_chart.tracks.length &gt; 0">
  <table class="table table-striped tracks-table">
    <thead>
      <tr>
        <th class="track-image-column"></th>
        <th class="track-name-column">Track</th>
        <th class="track-artist-column">Artist</th>
        <th class="nowrap track-play-count-column">Play Count</th>
      </tr>
    </thead>
    <tbody>
      <tr class="track-row" ng-id="{{track.id}}" ng-class="{matching: track.matching, matched: track.matched, missing: track.missing}" ng-repeat="track in year_chart.filtered_tracks">
        <td class="track-image-column">
          <a class="track" ng-show="track.url" ng-href="{{track.url}}" target="_blank">
            <img ng-src="{{track.large_image}}" class="track-image">
          </a>
          <img ng-hide="track.url" ng-src="{{track.large_image}}" class="track-image">
        </td>
        <td class="track-name-column">
          <a class="track" ng-show="track.url" ng-href="{{track.url}}" target="_blank">
            {{track.name}}
          </a>
          <span ng-hide="track.url">
            {{track.name}}
          </span>
        </td>
        <td class="track-artist-column">
          <a class="artist-link" ng-show="track.artist_url" ng-href="{{track.artist_url}}" target="_blank">
            {{track.artist}}
          </a>
          <span ng-hide="track.artist_url">
            {{track.artist}}
          </span>
        </td>
        <td class="track-play-count-column">
          {{track.play_count}}x
        </td>
      </tr>
    </tbody>
  </table>
</div>
