<div class="page-header">
  <h1>
    <a class="back-link" href="#/" ng-click="wipe_notifications()" tooltip-placement="right" tooltip="Choose a different Last.fm user">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="lastfm-user-link" href="{{lastfm_user.url}}" tooltip="{{lastfm_user.user_name}}">
      <img class="lastfm-user-image img-circle" height="64" ng-src="{{lastfm_user.medium_image}}" width="64">
    </a>
    <span class="title">
      <span class="nowrap">
        Listening History for
      </span>
      <span class="lastfm-user">
        <span ng-show="lastfm_user.real_name">
          {{lastfm_user.real_name}}
        </span>
        <span ng-hide="lastfm_user.real_name">
          {{lastfm_user.user_name}}
        </span>
      </span>
      <span class="nowrap lastfm-user-since" ng-show="lastfm_user.id">
        Last.fm user since
        {{lastfm_user.date_registered_str()}}
      </span>
    </span>
  </h1>
  <div class="neighbors" ng-if="lastfm_neighbors.length &gt; 0">
    <ul class="list-inline">
      <li>
        <label class="control-label">Similar Last.fm users:</label>
      </li>
      <li class="neighbor" ng-repeat="neighbor in lastfm_neighbors">
        <a ng-href="#/lastfm/{{neighbor.user_name}}" class="neighbor-link">
          {{neighbor.user_name}}
        </a>
      </li>
    </ul>
  </div>
</div>
<div ng-hide="load_status.charts">
  <p>
    Loading listening history from Last.fm...
  </p>
</div>
<div ng-if="load_status.charts &amp;&amp; year_charts.length &lt; 1">
  <p>
    There is no weekly listening history for Last.fm user {{lastfm_user.user_name}}.
  </p>
  <p>
    <a href="#/" ng-click="wipe_notifications()">
      &larr; Choose a different Last.fm user
    </a>
  </p>
</div>
<div class="row year-row" ng-repeat="i in slice_range(year_charts, 3)">
  <div class="col-sm-4 year-column" ng-repeat="year_chart in year_charts.slice(i, i+3)">
    <div class="year-{{year_chart.year}}">
      <h3>{{year_chart.year}}</h3>
      <a class="spring-link" ng-href="#/lastfm/{{lastfm_user.user_name}}/{{year_chart.year}}/spring">
        Spring
        <img src="images/spring.png" alt="Spring" class="season-icon">
      </a>
      <a class="summer-link" ng-href="#/lastfm/{{lastfm_user.user_name}}/{{year_chart.year}}/summer">
        Summer
        <img src="images/summer.png" alt="Summer" class="season-icon">
      </a>
      <a class="fall-link" ng-href="#/lastfm/{{lastfm_user.user_name}}/{{year_chart.year}}/fall">
        Fall
        <img src="images/fall.png" alt="Fall" class="season-icon">
      </a>
      <a class="winter-link" ng-href="#/lastfm/{{lastfm_user.user_name}}/{{year_chart.year}}/winter">
        Winter
        <img src="images/winter.png" alt="Winter" class="season-icon">
      </a>
    </div>
  </div>
</div>
